# Exclude data
#python/csvdata/*

# Excel files
*.xls*

# Binary files
*.bin*

# Exclude saved models
#models/*

# Exclude precomplied python files
__pycache__

# Exclude virtual environment
venv

# Exclude IDE files
.vscode
