# Exclude data
#python/csvdata/*

# Excel files
.xlsm

# Exclude saved models
#models/*

# Exclude precomplied python files
__pycache__

# Exclude virtual environment
venv

# Exclude IDE files
.vscode